/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 450px!important

.sidebar-heading
  text-transform: capitalize

.custom-block.details
  background-color: white
  border: 2px solid #a5b0ca
  padding: 1em 1.6em

  &:hover, &[open]
    border-color: #415074

  summary
    padding: 0.6em 0

.custom-block.details summary
  &:focus
    outline: auto

.theme-default-content code
  background-color: #f7f7f7
