/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

/* Inter Font family */
@font-face {
  font-family: "Inter";
  src: url("/inter-font/Inter-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("/inter-font/Inter-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("/inter-font/Inter-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("/inter-font/Inter-MediumItalic.woff2") format("woff2");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("/inter-font/Inter-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("/inter-font/Inter-SemiBoldItalic.woff2") format("woff2");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("/inter-font/Inter-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("/inter-font/Inter-BoldItalic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
  font-display: swap;

}

@font-face {
  font-family: "Inter";
  src: url("/inter-font/Inter-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("/inter-font/Inter-ExtraBoldItalic.woff2") format("woff2");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("/inter-font/Inter-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("/inter-font/Inter-BlackItalic.woff2") format("woff2");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

*
  box-sizing border-box

body
  font-family 'Inter', sans-serif
  letter-spacing -0.02em

.home .hero img
  max-width 450px!important

.sidebar-heading
  text-transform capitalize

.published
  opacity 0.8
  margin-bottom 24px

.blog-card
  margin-bottom 80px

.custom-block.details
  background-color white
  border 2px solid #a5b0ca
  padding 1em 1.6em

  &:hover, &[open]
    border-color #415074

  summary
    padding: 0.6em 0

.custom-block.details summary
  &:focus
    outline auto

.theme-default-content code
  background-color #f7f7f7

body .navbar
  .home-link
    font-size 20px
    position absolute
    left: 1rem
    white-space nowrap
    .brand
      font-weight 700
    .site
      font-weight 400
  .nav-link
    font-size 16px
    font-weight bold
  .repo-link
    font-size 16px
    font-weight bold
  .links
      padding-left 0
      right 3.5rem

@media (min-width: 780px)
  body .navbar
    .home-link
      font-size 28px
    .nav-link
      font-size 16px
      font-weight bold
    .repo-link
      font-size 16px
      font-weight bold
    .links
      padding-left 1.5rem
      right: 1.5rem

@media (min-width: 820px)
  main.page
    table
      margin-left -60px
      margin-right -60px

@media (min-width: 1200px)
  main.page
    table
      margin-left -100px
      margin-right -100px

main.page
  .details
    table
      margin-left 0
      margin-right 0

main.page
  img
    box-shadow: 0 0 36px 0 rgba(0, 0, 0, 0.1), 0px 2px 6px 0 rgba(0, 0, 0, 0.2)
    border-radius: 3px

main.page
  .banner
    img
      box-shadow: none

main.page
  .banner
    background: #1e1d6b
    color: white
    text-align: center
    padding: 2rem

.sidebar-button
  right 2rem
  left initial !important
  background-color: white

.sidebar-button .icon
  background-color: white

main.page
  table
    vertical-align: top

main.page
  .alpha
    border-bottom: 1px solid #1e1d6b
    span
      background: #1e1d6b
      color: white
      display: inline-block
      padding: 0.5rem
      text-transform: uppercase
      margin-right: 0.5rem
      font-weight: 600
