/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 450px!important

.sidebar-heading
  text-transform: capitalize

.published
  opacity: 0.8
  margin-bottom: 24px

.blog-card
  margin-bottom: 80px
